<?xml version="1.0" encoding="UTF-8"?>

<web-app
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                        https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
    version="6.0">

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.example.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.example.DashboardServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

<servlet>
    <servlet-name>DBConnectionServlet</servlet-name>
    <servlet-class>com.example.DBConnectionServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>DBConnectionServlet</servlet-name>
    <url-pattern>/db-test</url-pattern>
</servlet-mapping>
    <servlet>
        <servlet-name>ViewVisitorServlet</servlet-name>
        <servlet-class>com.example.ViewVisitorServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewVisitorServlet</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddVisitorServlet</servlet-name>
        <servlet-class>com.example.AddVisitorServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddVisitorServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    

</web-app>
